.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-color);
}
:root {
  --navy-blue: #2E2F42;
  --iris: #4D5AE5;
  --primary-color: #434455;
  --primary-background: #ffffff;
  --secondary-color: #2e2f42;
  --hover-focus: #404bbf;
  --button-color: #4d5ae5;
  --secondary-background: #f4f4fd;
  --background-modal: #FCFCFC;
  --border-color: #e7e9fc;
  --icon-color:#8e8f99;
  --secondary-hover-focus: #31d0aa;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* =====style none===== */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/*------------- header style------------------ */
/* ===container=== */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media  screen and (min-width:428px) {
  .container {
    width: 428px;
    
  }
}
@media screen and (min-width: 768px){
  .container{
    width: 768px;
  }
}
@media screen and (min-width:1158px) {
  .container{
    width: 1158px;
  }
}
@media screen and (max-width: 767px) {
  .list-navigation{
    display: none;
  }
  .address{ 
    display: none;
  }
  .container{
    padding-left: 16px;
    padding-right: 16px;
  }

    .modal-open-btn {
      margin-left: auto;
      border: 0;
      background-color: transparent;
      padding: 0;
      line-height: 0;
      display: block;
      padding: 24px 0 22px;
    }
  
    .modal-open-btn-icon {
      fill: var(--secondary-color)
    }
  
    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-background);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opasity var(--transition),
      visibility var(--transition);
      padding: 24px;
  
    }
  
    .mobile-menu-container {
      position: relative;
      padding: 55px 11px 16px 16px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  
    .mobile-close-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid var(--border-color);
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color var(--transition),
        border var(--transition);
    }
  
    .mobile-close-btn {
      fill: var(--secondary-color);
      transition: fill var(--transition);
    }
  
    .mobile-close-btn:hover,
    .mobile-close-btn:focus {
      background-color: var(--hover-focus);
      border: none;
    }
  
    .mobile-close-btn:hover>.mobile-close-btn-icon,
    .mobile-close-btn:focus>.mobile-close-btn-icon {
      fill: var(--primary-background);
    }
  
    .item-list-menu:not(:last-child) {
      margin-bottom: 40px;
    }
    
    .link-menu {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      color: var(--secondary-color);
      transition: color var(--transition);
    }
    
        .active-nav {
          color: var(--hover-focus);
        }
    .item-list-menu>.link-menu:hover,
    .item-list-menu>.link-menu:focus {
      color: var(--hover-focus);
    }
  
    .list-menu {
      margin-bottom: auto;
    }
  
    .link-tel {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
  
    }
  
    .item-contacts-tel {
      margin-bottom: 40px;
    }
  
    .link-email {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--primary-color);
  
      transition: color var(--transition);
    }
  
    .link-contact:hover,
    .link-contact:focus {
      color: var(--hover-focus);
    }
  
    .contacts {
      margin-bottom: 48px;
    }
  
    .social-list {
      margin-top: 8px;
    }
  
    .mobile-social-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
    }
  
    .mobile-icon-social-link {
      fill: var(--secondary-background);
    }
  
    .mobile-social-link {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--button-color);
      transition: background-color var(--transition);
    }
  
    .mobile-social-link:hover,
    .mobile-social-link:focus {
      background-color: var(--hover-focus);
    }
  
    .mobile-menu.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
}

.logo .studio {
  color: var(--secondary-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  background-color: var(--primary-background);
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width:768px) {
  .modal-open-btn{
    display:none;
  }
  .mobile-menu{
    display: none;
  }
 .header-container {
      border-bottom: var(--border-color) 1px;
      display: flex;
        align-self: center;
        justify-content: center;
  }
}
@media screen and (min-width:768px) {
  .header{
    border-bottom: 1px solid var(--border-color);
      box-shadow:
        0px 1px 6px 0px #2E2F4214,
        0px 1px 1px 0px #2E2F4229,
        0px 2px 1px 0px #2E2F4214;
  }
    .link-nav {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--secondary-color);
      display: block;
      padding-top: 24px;
      padding-bottom: 24px;
      position: relative;
      transition: color var(--transition);
    }
  
    .link-nav::after {
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
  
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
    }
  
    .link-nav.active-nav::after {
      background-color: var(--hover-focus);
    }
  
    .active-nav {
      color: var(--hover-focus);
    }
  
    .link-nav:hover,
    .link-nav:focus {
      color: var(--hover-focus);
  
    }
  
    .address {
      font-style: normal;
    }
  
    .link-contact {
      font-style: normal;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--primary-color);
      transition: color var(--transition);
    }
  
    .link-contact:focus,
    .link-contact:hover {
      color: var(--hover-focus);
    }
  
    .list-navigation {
      display: flex;
      gap: 40px;
    }
    
    .navigation {
      display: flex;
      align-items: center;
    }
    .logo {
     margin-right: 76px;
    }
   .address {
     margin-left: auto;
   }
}
@media screen and (min-width:1158px) {
  .list-contact {
      display: flex;
      gap: 40px;
      align-items: center;
      justify-content: center;
    }
        
}
  
/*==== hero==== */
.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/mobal-photo/Dark-bg.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--secondary-color);
  padding-top: 112px;
  padding-bottom: 112px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  max-width: 1440px;
}
@media screen and (min-width:1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
.hero-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-color);
  color: var(--primary-background);
  cursor: pointer;
  min-width: 169px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--hover-focus);
}
@media screen and (max-width:767px) {
  
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-background);

    max-width: 320px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}
@media screen and (min-device-pixel-ratio) and (max-width:767px),
       screen and (min-resolution: 192dpi) and (max-width:767px),
       screen and (min-resolution: 2dppx) and (max-width:767px) {
  .hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/mobal-photo/Dark-bg@2x.jpg);
  }
}
@media screen and (min-width:768px) {
   .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tablet-photo/background-tab.jpg);
   }
    .hero-title { 
    font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      text-align: center;
      letter-spacing: 0.02em;
      color: var(--primary-background);
      max-width: 496px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 36px;
    }
}

@media screen and (min-device-pixel-ratio) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tablet-photo/background-tab@2x.jpg);
      }
 }
@media screen and (min-width:1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/desk-top-photo/people-office.jpg);
  }
}

@media screen and (min-device-pixel-ratio) and (min-width:1158px),
screen and (min-resolution: 192dpi) and (min-width:1158px),
screen and (min-resolution: 2dppx) and (min-width:1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/desk-top-photo/people-office\ @2x.jpg);   
      }
      
      .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primary-background);
        max-width: 496px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
  }
}

/*====section advantages==== */
.text{
  margin-bottom: 8px;
}
.subtitle {
  margin-bottom: 8px;
}
@media screen and (max-width:1157px) {
 .icon-container{
  display: none;
 }
.title-advantages{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-color);
}
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.item-advantages{
  margin-bottom: 72px;
} 
}
@media screen and (min-width:768px) {
  .title-advantages{
    text-align: start;
  }
.list-advantages {
  display: flex;
  flex-wrap:wrap;
  row-gap: 72px;
  column-gap: 24px;
} 
 .item-advantages {
  margin: 0;
  flex-basis: calc((100% - 1 * 24px) / 2);
  
}
}
@media screen and (min-width:1158px) {
.item-advantages {
    width: 264px;
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .list-advantages {
    display: flex;
    gap: 24px;
  }
 .advantages {
   padding-top: 120px;
   padding-bottom: 120px;
 }
.icon-container { height: 112px;
 border-radius: 4px;
 background-color: var(--secondary-background);
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 8px;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
} 

/* ====sectoin activity==== */

 @media screen and (min-width:1158px) {
  .section-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--secondary-color);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 72px;
    }
 } 

@media screen and (max-width: 1157px) {
  .activity {
      display: none;
    }
} 
@media screen and (min-width:1158px) {
  .activity-list {
    display: flex;
    gap: 24px;
  }

  .item-activity {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .activity {
    padding-bottom: 120px;
  }
}
 .list-item {
  background-color: var(--primary-background);
}
.activity-list {
  display: flex;
  gap: 24px;
}
.item-activity {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.activity {
  padding-bottom: 120px;
} 
/* ====section about team===== */

.list-team-item{
max-width: 264px;
margin-left: auto;
margin-right: auto;
background-color: var(--primary-background);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);}

.team-members {
  width: 264px;
  padding: 32px 0;
  text-align: center;
  background-color: var(--primary-background);
}
.social-list{
  margin-top: 8px;
}
.social-list{
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}
.icon-social-link{fill: var(--secondary-background);
}
.social-link{
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
background-color: var(--button-color);
transition: background-color var(--transition);
}
.social-link:hover,
.social-link:focus{
  background-color: var(--hover-focus);
}
.section-team {
    background-color: var(--secondary-background);
  }

@media screen and (max-width:1157px) {
 .section-team{
  padding-top: 96px;
  padding-bottom: 96px;
 }
 
  .section-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: var(--secondary-color);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 72px;
    }
 }
 @media screen and (max-width:767px) {
  .list-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
  }
 }
@media screen and (min-width:768px) {
   .list-team {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     row-gap: 64px;
     column-gap: 24px;
   }

   .list-team-item {
    margin: 0;
     flex-basis: calc((100% - 1 * 24px) / 2);
 }
}
 @media screen and (min-width:1158px){
 .list-team {
  display: flex;
  gap: 24px;
}
.list-team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}  
.section-team {
  padding-bottom: 120px;
  padding-top: 120px;
}
 }

/* ===customers=== */

.customers{
  line-height: 1.1
}

.link-customers{
height: 88px;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid var(--icon-color);
color: var(--icon-color);
border-radius: 4px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers{
  fill:currentColor;
}
.link-customers:hover,
.link-customers:focus{
color: var(--hover-focus);
}
.link-customers:hover,
.link-customers:focus{
border-color: var(--hover-focus);
}
@media screen and (max-width:1157px) {
  .section-customers {
      padding-top: 96px;
      padding-bottom: 96px;
      margin-left: auto;
      margin-right: auto;
    }
}

@media screen and (max-width:767px){
.list-customers{
  
  display: flex;
  align-items: center;
  justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }
  
  .item-list-customers {
    flex-basis: calc((100% - 16px) / 2);
  }

}
@media screen and (min-width:768px) and (max-width:1157px) {
  .customers-container {
      max-width: 584px;
    }
}
 @media screen and (min-width:768px) {
   .list-customers {
     display: flex;
     flex-wrap: wrap;
     row-gap: 72px;
     column-gap: 24px;
   }

   .item-list-customers {
     flex-basis: calc((100% - 2 * 24px) / 3);

   }
 }
@media screen and (min-width:1158px) {
  .list-customers {
   margin-top: 72px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   gap: 24px;
    }  
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
}  
}

/* footer */

.studio-footer {
  color: var(--secondary-background);
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-background);
}
 .footer {
  background: var(--secondary-color);
} 
.logo-link{
  display: block;
  margin-bottom: 16px;
}
 .footer-social-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.link-footer-social-list{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--button-color);
  transition: background-color var(--transition);
}
.icon-footer-social-list{
  fill: var(--secondary-background)
}
.link-footer-social-list:hover,
.link-footer-social-list:focus{
  background-color: var(--secondary-hover-focus);
} 
.subtitle-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background);
  margin-bottom: 16px;
}
  .useremail-input {
   min-width: 100%; 
   min-height: 40px;
  border: 1px solid var(--primary-background);
  background-color: var(--secondary-color);
  padding: 8px  16px;
  border-radius: 4px;
  color: var(--primary-background);
  transition: border-color var(--transition);
} 
.useremail-input::placeholder{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: var(--primary-background);
}
.useremail-input:focus{
  border-color: var(--hover-focus);
  outline: none;
}
.subscribe-button{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  padding: 8px 24px;
  background-color: var(--iris);
  color: var(--primary-background);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: background-colol var(--transition);
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-button:hover,
.subscribe-button:focus{
  background-color: var(--hover-focus);
}
.subscribe-icon{
  fill: var(--primary-background);
}
@media screen and (max-width:1157px) {
  .footer{
    padding-top: 96px;
    padding-bottom: 96px;
}
}
@media screen and (max-width:767px){
  .useremail-input{
    margin-bottom: 16px;
  }
  .logo-footer{
    text-align: center;
  }
  .text-footer{
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
  .social-media{
    margin-left: auto;
    margin-right: auto;
  }
    .subtitle-footer{
      text-align: center;
    }
  .social-media{
    margin-bottom: 72px;
  }
   .subscribe-button{
    margin-top: auto;
    margin-bottom: auto;
   }
}
@media  screen and (min-width:768px) and (max-width:1157px) {
.container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 584px;
  }
}
@media screen and (min-width:768px) {
  .logo-footer{
    width: 264px;
  }
    .text-footer {
      width: 264px;
    }
    .subscribe-container {
      display: flex;
      align-items: baseline;
      gap: 24px;
    }
  .useremail-input{
    min-width: 264px;
  }
}
@media screen and (min-width:1158px) {
 .footer{
  padding-top: 100px;
  padding-bottom: 100px;
 }
   .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap; 
  }
  .logo-footer {
    margin-right: 120px;
  }
    .subscribe-form {
      margin-left: 80px;
    }
}






/* ====portfolio==== */
.button-portfolio {
  font-family: "Roboto", sans-serif;
  background: var(--secondary-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--transition),
    background-color var(--transition),
    border-color var(--transition),
    box-shadow var(--transition);
}
.item-button{
  transition:background-color var(--transition),
  color var(--transition),border-color var(--transition);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--hover-focus);
  color: var(--primary-background);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px #0000001F,
   0px 2px 1px 0px #00000014, 0px 3px 1px 0px #0000001A;
}
.list-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.text-portfolio {
  color: var(--primary-color);
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-list-portfolio {
  width: calc((100% - 48px) / 3);
}
.portfolio {
  padding-bottom: 120px;
  padding-top: 96px;
}
.category {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.link-portfolio{
  display: block;
}
.link-portfolio{ 
  transition:box-shadow var(--transition);
}
.link-portfolio:hover,
.link-portfolio:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(56, 60, 141, 0.08)
}
.text-card{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-background);
  background-color: var(--iris);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  transition: transform var(--transition);
}
.card-wrap{
  position: relative;
  overflow: hidden;
}
.link-portfolio:hover .text-card,
.link-portfolio:focus .text-card{
  transform: translateY(0%);
}
/* ==========modal-window============ */
.backdrop{
  position:fixed ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition),
  visibility var(--transition);
}
.modal-window{
  max-width: 408px;
  min-height: 584px;
  background-color: var(--background-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px
   rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: transform var(--transition);
}
@media screen and (max-width:427px) {
  .modal-window{
    width: 100%;
  }
}

@media screen and (min-width:428px) and (max-width:767px){
  .modal-window{
    width: 392px;
  }
}
  
.modal-close-btm{
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color var(--transition)
  border var(--transition); 
  transition: background-color var(--transition), 
  border var(--transition);
}
.modal-icon{
  fill: var(--secondary-color) ;
  transition: fill var(--transition);
}
.modal-close-btm:hover,
.modal-close-btm:focus{
  background-color: var(--hover-focus);
  border: none;
}
.modal-close-btm:hover>.modal-icon,
.modal-close-btm:focus>.modal-icon {
  fill: var(--primary-background);
}
.is-hidden{
  visibility:hidden;
  opacity: 0;
  pointer-events: none;
}
.wrap-modal-icon{
  display: block;
  position: relative;
}
.icon-contact{
  position: absolute;
  top:50%;
  left:19px;
  transform: translate(-50% ,-50%);
}
.modal-form{
  padding: 72px 24px 24px;
}
.title-modal{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-bottom: 16px;
}
.text-modal{
  display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:var(--icon-color);
    margin-bottom: 4px;
}
.modal-active-field{
  display: block;
  margin-bottom: 8px;
}
.modal-form-input{
  width: 100%;
  padding: 8px 38px;
  transition: border-color var(--transition);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}
.modal-form-input:focus{
  border-color: var(--iris);
  outline: none;
}
.icon-contact{
  fill:var(--secondary-color);
  transition: fill var(--transition);
}
.modal-form-input:focus+.icon-contact{
  fill: var(--iris); 
}
.modal-form-message{
  resize: none;
  width: 100%;
  min-height: 120px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  transition: border-color var(--transition);
  padding: 8px 16px;
}
.modal-form-message:focus
{border-color: var(--iris);
 outline: none;
}
.modal-form-message::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:rgba(46, 47, 66, 0.4);
}
.modal-checkbox::before{
  content:'' ;
  display: block;
  min-width: 16px;
  min-height: 16px;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  margin-right: 8px;
}
.modal-checkbox{
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:  var(--icon-color);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
 @media screen and (min-width:200px) {
  .icon-agree {
     position: absolute;
    top: 7px;
    left: 3px;
      fill: var(--primary-background);
      transition: fill var(--transition);
  }
}
@media screen and (min-width:428px) {
.icon-agree {
  top: 4px;
}
} 
.hidden-checkbox:focus+.modal-checkbox::before{
  background-color: var(--iris);
}
.hidden-checkbox{ 
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  
}
.link-modal:hover,
.link-modal:focus{
  color: var(--hover-focus) ;
}
.link-modal{
  transition: color var(--transition);
  color: var(--iris);
}
 .button-send{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    color: var(--primary-background);
    background-color: var(--iris);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 169px;
    transition: background-color var(--transition);
 }
 .button-send:focus,
 .button-send:hover{
  background-color: var(--hover-focus);}